@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg-primary: 251 250 255;
    --bg-secondary: 216 211 205;
    --text: 105 116 118;
    --title: 105 116 118;
    --text-details: 100 204 197;
    --alternative-bg: 160 167 173;
  }

  .dark-mode {
    --bg-primary: 0 28 48;
    --bg-secondary: 39 55 77;
    --text: 255 255 255;
    --title: 218 255 251;
    --alternative-bg: 44 62 80;
  }
}

* {
  @apply transition-colors duration-300;
}

body {
  @apply bg-primary_bg;
  color: white;
}

p,
span,
h1,
h2,
h3 {
  @apply text-text;
}
p {
  @apply text-sm;
}
.title {
  @apply text-4xl uppercase text-center font-bold mb-10;
}

.my-image {
  clip-path: circle(50% at 50% 50%);
}

#typing {
  display: block;
  font-family: monospace;
  white-space: nowrap;
  border-right: 4px solid;
  width: 19ch;
  animation: typing 2s steps(19), blink 0.5s infinite step-end alternate;
  overflow: hidden;
  -webkit-animation: typing 2s steps(19), blink 0.5s infinite step-end alternate;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

#name {
  background: -webkit-linear-gradient(
    rgba(var(--text-details)),
    rgba(var(--text-details)),
    rgba(var(--bg-primary))
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

::-webkit-scrollbar {
  position: absolute;
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb {
  @apply rounded-md bg-details/80 transition;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-details/100;
}

.page-section {
  @apply snap-center flex items-center justify-center xl:min-h-screen w-full;
}

.overlay {
  transform: translateY(100%);
  -webkit-transition: transform 0.5s ease-out;
  -o-transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
}

.box:hover .overlay {
  transform: translateY(75%);
  -webkit-transform: translateY(75%);
  -moz-transform: translateY(75%);
  -ms-transform: translateY(75%);
  -o-transform: translateY(75%);
}
