<section id='projects'>
  <h2>Proyectos</h2>
  <p class='text-center'>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro soluta labore facilis sed voluptates, iure voluptatum
    voluptatibus sunt mollitia quis assumenda nam quibusdam possimus optio architecto nisi amet ea dolorum, dolor
    officia saepe vero culpa. Voluptas, ipsum quibusdam hic nemo a facilis, consequuntur labore ipsa repudiandae quasi
    eius. Aperiam, quos minus. Molestias, incidunt corrupti quibusdam quisquam rerum iusto? Culpa hic amet nostrum
    voluptate excepturi explicabo consectetur enim repellat, minima sunt!
  </p>
</section>
