---
import ProjectCard from '@components/pure/ProjectCard.astro'
import { projects } from 'content/projects'
---

<section id='projects'>
  <h2>Proyectos</h2>
  <div class='flex flex-wrap gap-10 items-center justify-center'>
    {projects.map((project) => <ProjectCard project={project} />)}
  </div>
</section>
