---
import StackField from '@components/pure/StackField.astro'
import { fields } from 'content/technologies'
---

<section id='stack' class='pb-40'>
  <h2 class='text-6xl font-black uppercase text-center mb-20'>Stack</h2>
  <div class='[&>*]:w-1/3 flex gap-5 items-start'>
    {fields.map((field) => <StackField field={field} />)}
  </div>
</section>
