---
import WorkField from '@components/pure/ExperienceField.astro'
import { workExperience } from '../../content/work'
---

<section id='work'>
  <h2>Trabajo</h2>
  {workExperience.map((experience) => <WorkField experience={experience} />)}
  <section></section>
</section>
