---
import Container from '@components/container.astro'
import { Astronav, MenuItems, MenuIcon } from 'astro-navbar'

const menuitems = [
  {
    title: 'Stack',
    path: '#stack',
  },
  {
    title: 'Trabajo',
    path: '#work',
  },
  {
    title: 'Proyectos',
    path: '#projects',
  },
  {
    title: 'Formación',
    path: '#studies',
  },
  {
    title: 'Sobre mi',
    path: '#about-me',
  },
  {
    title: 'Contacto',
    path: '#contact',
  },
]
---

<!-- TODO AL HACER CLICK DEBE CERRAR EL MENU EN MOBILE -->
<Container>
  <header
    class='flex flex-col lg:flex-row justify-between items-center py-5 w-full fixed left-0 top-0 px-3 bg-custom-bg z-50 border-b'
  >
    <Astronav>
      <div class='flex w-full lg:w-auto items-center justify-between'>
        <a href='#start' class='text-lg'>IMAGEN</a>
        <div class='block lg:hidden'>
          <MenuIcon class='w-4 h-4' />
        </div>
      </div>
      <MenuItems class='hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0'>
        <ul class='flex flex-col lg:flex-row lg:gap-3'>
          {
            menuitems.map((item, index) => (
              <>
                <hr class='opacity-20' />
                <li>
                  <a
                    href={item.path}
                    class='flex lg:px-3 py-2 items-center hover:text-custom-decoration hover:bg-white/10 lg:rounded transition-all max-lg:pl-3'
                  >
                    <span> {item.title}</span>
                  </a>
                </li>
              </>
            ))
          }
        </ul>
      </MenuItems>
    </Astronav>
  </header>
</Container>
