<footer class='h-[70px] container mx-auto border-t flex items-center justify-center gap-5'>
  <p class='text-center text-sm'>
    Copyright © {new Date().getFullYear()} Santino Stimoli.
  </p>
</footer>
