---
import { Astronav, MenuItems, MenuIcon } from 'astro-navbar'
import LOGO from '@assets/LOGO.png'
import { Picture } from 'astro:assets'

const menuitems = [
  {
    title: 'Sobre mi',
    path: '#about',
  },
  {
    title: 'Stack',
    path: '#stack',
  },
  {
    title: 'Trabajo',
    path: '#work',
  },
  {
    title: 'Proyectos',
    path: '#projects',
  },
  {
    title: 'Formación',
    path: '#study',
  },
]
---

<header
  class='h-[70px] container flex flex-col lg:flex-row justify-between items-center px-5 py-1 w-full sticky top-0 bg-primary z-50 border-b mx-auto'
>
  <Astronav>
    <div class='flex w-full lg:w-auto items-center justify-between'>
      <a href='#start' class='text-lg'>
        <Picture src={LOGO} alt='Santino Stimoli logo' loading='eager' format='avif' class='m-3 w-40' />
      </a>
      <div class='block lg:hidden'>
        <MenuIcon class='w-4 h-4' />
      </div>
    </div>
    <MenuItems
      class='hidden w-full lg:w-auto mt-1 lg:flex lg:mt-0 uppercase max-lg:bg-primary max-lg:border max-lg:border-t-0 max-lg:rounded-b'
    >
      <ul class='flex flex-col lg:flex-row lg:gap-3'>
        {
          menuitems.map((item, index) => (
            <>
              <hr class='opacity-20' />
              <li>
                <a
                  href={item.path}
                  class='flex lg:px-3 py-2 items-center hover:text-secondary hover:bg-white/10 lg:rounded transition-all max-lg:pl-3'
                >
                  <span> {item.title}</span>
                </a>
              </li>
            </>
          ))
        }
      </ul>
    </MenuItems>
  </Astronav>
</header>
