---
export interface Props {
  technology: {
    name: string
    icon: string
  }
}
---

<div
  class='gap-1 px-1 py-0.5 md:px-2 md:py-1 fill-primary-text flex items-center border rounded w-fit transition-all duration bg-gradient-to-r from-secondary to-primary max-md:text-sm'
>
  <i class={`bx ${Astro.props.technology.icon} bx-sm`}></i>
  {Astro.props.technology.name}
</div>
