<a
  id='topButton'
  href='#start'
  class='pageHref fixed bottom-10 left-10 rounded-full border w-[50px] h-[50px] bg-primary hover:bg-secondary cursor-pointer hide-button hidden'
>
  <i class='bx bx-chevron-up bx-md m-auto'></i>
</a>
