<section id='about' class='!py-80'>
  <h2>Sobre mi</h2>
  <div class='text-center text-xl text-secondary-text max-w-[750px] mx-auto [&_b]:underline [&_b]:text-primary-text'>
    <p>
      Con <b>tres años de experiencia</b> en <b>desarrollo web</b>, me destaco por un <b>enfoque proactivo</b> y una marcada
      <b>versatilidad</b> al integrarme en equipos de trabajo. He participado en proyectos junto a <b>equipos internacionales</b>,
      lo que me ha permitido fortalecer mis habilidades de <b>comunicación</b>, <b>adaptabilidad</b> y <b>colaboración</b> en
      entornos <b>multiculturales</b>.
    </p>
    <hr class='my-10 border-2 border-secondary' />
    <p>
      En mi vida personal, me destaco como instructor de <b>TaeKwon-Do</b>, donde enseño esta actividad que tanto me
      apasiona a personas de todas las edades, desde niños hasta adultos.
    </p>
  </div>
</section>
