<section id='about'>
  <!-- <h2>Sobre mi</h2> -->
  <div class='text-center text-xl text-secondary-text max-w-[750px] mx-auto [&_b]:underline [&_b]:text-primary-text'>
    <p>
      Mi <b>versatilidad</b> me ha permitido abordar proyectos de manera efectiva, desde el <b>diseño</b> hasta la
      <b>implementación</b>, adaptándome a las necesidades tecnológicas cambiantes. Mi <b>enfoque</b>
      <b>activo</b> y capacidad para adaptarme son fundamentales en mi carrera profesional. Me encuentro en
      <b>constante</b>
      <b>formación</b>, desarrollando proyectos y aprendiendo nuevas tecnologías diariamente para ampliar mi stack.
    </p>
    <hr class='my-10 border-2 border-secondary' />
    <p>
      En mi vida personal, me destaco como instructor de <b>TaeKwon-Do</b>, donde enseño esta actividad que tanto me
      apasiona a personas de todas las edades, desde niños hasta adultos.
    </p>
  </div>
</section>
