---
import StackField from '@components/StackField.astro'
import { fields } from '@content/technologies'
---

<section id='stack'>
  <!-- <h2>Stack</h2> -->
  <div
    class='lg:[&>*]:w-1/3 max-lg:flex-col max-md:mx-0 max-lg:mx-20 flex gap-20 lg:gap-10 max-xl:flex-wrap justify-center items-start max-xl:[&>div:last-child]:!order-2 max-xl:[&>div:first-child]:!order-1 max-xl:[&>div:nth-child(2)]:!order-3'
  >
    {fields.map((field) => <StackField field={field} />)}
  </div>
</section>
