---
import WorkField from '@components/ExperienceField.astro'
import { studyExperience } from '@content/study'
---

<section id='study'>
  <h2>Formación</h2>
  {studyExperience.map((experience) => <WorkField experience={experience} />)}
  <section></section>
</section>
