---
import { SEO } from 'astro-seo'
import Footer from '@components/Footer.astro'
import Navbar from '@components/Nav.astro'
import '@fontsource-variable/inter/index.css'
import '@styles/style.css'
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />

    <!-- ICONS -->
    <script src='https://unpkg.com/boxicons@2.1.4/dist/boxicons.js'></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet' />

    <SEO
      title='Santino Stimoli - Software Developer'
      description='¡Hola! Soy Santino, un apasionado desarrollador de software, aquí podrás ver todos mis trabajos y proyectos para que puedas conocerme. ¡Bienvenido a mi portafolio!'
    />
  </head>
  <body>
    <main class='card'>
      <Navbar />
      <main class='content'>
        <slot />
      </main>
      <Footer />
    </main>
  </body>
</html>
