---
import { SEO } from 'astro-seo'
import Footer from '@components/Footer.astro'
import Navbar from '@components/Nav.astro'
import '@styles/style.css'
import PortfolioIMG from '@assets/projects/Portfolio.png'
import { jobTitle } from '@content/profile'
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />

    <!-- ICONS -->
    <script src='https://unpkg.com/boxicons@2.1.4/dist/boxicons.js'></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet' />

    <SEO
      title='Santino Stimoli - Software Developer'
      description='¡Hola! Mi nombre es Santino, aquí podrás ver todos mis trabajos y proyectos para que puedas conocerme mas. ¡Bienvenido a mi portfolio!'
      openGraph={{
        basic: {
          type: 'website',
          title: `Santino Stimoli - ${jobTitle}`,
          image: PortfolioIMG.src,
        },
        image: {
          alt: 'Homepage Screenshot',
        },
      }}
    />
  </head>
  <body>
    <main class='card'>
      <Navbar />
      <main class='content'>
        <slot />
      </main>
      <Footer />
    </main>
    <script>
      window.addEventListener('scroll', () => {
        const scrollPosition = window.scrollY
        const topButton = document.getElementById('topButton')

        if (scrollPosition > 1000) {
          topButton?.classList.add('show-button')
          topButton?.classList.remove('hide-button')
        } else {
          topButton?.classList.remove('show-button')
          topButton?.classList.add('hide-button')
        }
      })

      document.querySelectorAll('.pageHref').forEach(function (link) {
        link.addEventListener('click', function (e) {
          e.preventDefault()

          const target = document.getElementById(this.getAttribute('href').substring(1))

          if (['start', 'about'].includes(target ? target.id : '')) {
            const targetPosition = target ? target.getBoundingClientRect().top + window.scrollY : 0
            const offset = window.innerHeight / 2 - (target ? target.offsetHeight / 2 : 0)
            const scrollTarget = targetPosition - offset
            window.scrollTo({
              top: scrollTarget,
              behavior: 'smooth',
            })
          } else {
            const targetPosition = target ? target.getBoundingClientRect().top + window.scrollY : 0
            window.scrollTo({
              top: targetPosition,
              behavior: 'smooth',
            })
          }
        })
      })
    </script>
  </body>
</html>
