---
import { SEO } from 'astro-seo'
import Footer from '@components/Footer.astro'
import Navbar from '@components/Nav.astro'
import '@fontsource-variable/inter/index.css'

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString()

const resolvedImageWithDomain = new URL('/opengraph.jpg', Astro.site).toString()
// TODO CAMBIAR IMAGEN
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />

    <!-- ICONS -->
    <script src='https://unpkg.com/boxicons@2.1.4/dist/boxicons.js'></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet' />

    <SEO
      title='Santino Stimoli - Software Developer'
      description='¡Hola! Soy Santino, un apasionado desarrollador de software, aquí podrás ver todos mis trabajos y proyectos para que puedas conocerme. ¡Bienvenido a mi portafolio!'
      canonical={canonicalURL}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: 'website',
          title: `Santino Stimoli - Software Developer`,
          image: resolvedImageWithDomain,
        },
        image: {
          alt: 'Homepage Screenshot',
        },
      }}
    />
  </head>
  <body>
    <main class='card'>
      <Navbar />
      <main class='content'>
        <slot />
      </main>
      <Footer />
    </main>
    <style is:global>
      img {
        content-visibility: auto;
      }
      html {
        @apply bg-primary text-primary-text;
      }
      .card {
        @apply container shadow-md border-2 border-y-0 border-secondary md:my-10 mx-auto;

        -webkit-box-shadow: 0px 0px 50px 30px rgba(255, 255, 255, 0.4);
        -moz-box-shadow: 0px 0px 50px 30px rgba(255, 255, 255, 0.4);
        box-shadow: 0px 0px 50px 30px rgba(255, 255, 255, 0.4);
      }

      header {
        @apply border-t-2 border-t-secondary;
      }
      footer {
        @apply border-b-2 border-b-secondary;
      }
      .content {
        @apply bg-primary text-primary-text bg-no-repeat bg-cover px-3 sm:px-10;
        background-image: url('../assets/fondo.png');
      }

      .content > section {
        @apply py-20 md:py-40;
      }

      .content > section > h2 {
        @apply text-4xl md:text-6xl font-black uppercase text-center mb-20;
      }

      @media (min-width: 1024px) {
        #start {
          height: calc(100vh - 2.5rem - 70px);
        }
      }
    </style>
  </body>
</html>
