---
import { SEO } from 'astro-seo'
import Footer from '@components/sections/Footer.astro'
import Navbar from '@components/sections/Nav.astro'
import '@fontsource-variable/inter/index.css'

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString()

const resolvedImageWithDomain = new URL('/opengraph.jpg', Astro.site).toString()
// TODO CAMBIAR IMAGEN
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />

    <!-- ICONS -->
    <script src='https://unpkg.com/boxicons@2.1.4/dist/boxicons.js'></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet' />

    <SEO
      title='Santino Stimoli - Software Developer'
      description='¡Hola! Soy Santino, un apasionado desarrollador de software, aquí podrás ver todos mis trabajos y proyectos para que puedas conocerme. ¡Bienvenido a mi portafolio!'
      canonical={canonicalURL}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: 'website',
          title: `Santino Stimoli - Software Developer`,
          image: resolvedImageWithDomain,
        },
        image: {
          alt: 'Homepage Screenshot',
        },
      }}
    />
  </head>
  <body>
    <main>
      <Navbar />
      <main>
        <slot />
      </main>
      <Footer />
    </main>
    <style is:global>
      img {
        content-visibility: auto;
      }
      html {
        @apply bg-custom-bg text-custom-text;
      }
      body > main {
        @apply container mx-auto shadow-md rounded my-10 shadow-white;
      }
      body > main > main {
        @apply bg-custom-bg text-custom-text bg-no-repeat bg-cover px-3 md:px-10;
        background-image: url('../assets/fondo.png');
      }

      body > main > main > section {
        @apply py-40;
      }

      body > main > main > section > h2 {
        @apply text-4xl md:text-6xl font-black uppercase text-center mb-20;
      }

      #bg-pic {
        @apply bg-cover bg-center;
        background-image: url('../assets/fondo-foto.png');
      }

      @media (min-width: 1024px) {
        #start {
          height: calc(100vh - 2.5rem - 70px);
        }
      }
    </style>
  </body>
</html>
