---
import { SEO } from 'astro-seo'
import Footer from '@components/sections/footer.astro'
import Navbar from '@components/sections/navbar/navbar.astro'
import '@fontsource-variable/inter/index.css'

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString()

const resolvedImageWithDomain = new URL('/opengraph.jpg', Astro.site).toString()
// TODO CAMBIAR IMAGEN
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />

    <SEO
      title='Santino Stimoli - Software Developer'
      description='¡Hola! Soy Santino, un apasionado desarrollador de software, aquí podrás ver todos mis trabajos y proyectos para que puedas conocerme. ¡Bienvenido a mi portafolio!'
      canonical={canonicalURL}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: 'website',
          title: `Santino Stimoli - Software Developer`,
          image: resolvedImageWithDomain,
        },
        image: {
          alt: 'Homepage Screenshot',
        },
      }}
    />
  </head>
  <body>
    <Navbar />
    <main class="max-w-screen-xl mx-auto px-5">
      <slot />
    </main>
    <Footer />
    <style is:global>
      img {
        content-visibility: auto;
      }
      body {
        @apply bg-custom-bg text-custom-text;
      }

      /* #start {
        height: calc(100vh - 100px);
      } */
    </style>
  </body>
</html>
